<nav data-controller="navbar" data-navbar-target="nav" data-action="scroll@window->navbar#navToggle">
  <h1>Watch This!</h1>
  <div>
    <%= link_to 'home', root_path %>
    <%= link_to 'create a list', new_list_path %>
  </div>
</nav>
